# Province Gender Available - Detect Active Users

In [1]:
import gzip
import json
import pandas as pd
import numpy as np
from datetime import datetime

## Read Data from Gzip

In [2]:
with gzip.open("province_gender_available_metadata_added-220614_combined.txt.gz", "rb") as f:
    users = f.readlines()
    
for i in range(len(users)):
    users[i] = json.loads(users[i].decode("utf-8"))

In [3]:
user_count = len(users)
print(user_count)

599943

## Create Users DataFrame

In [4]:
df = pd.DataFrame(users)

In [5]:
df.shape

(599943, 15)

In [6]:
del users

In [7]:
## Count of users with no tweet:

users_with_no_tweet_count = 0

for tweet_list in df["tweets"]:
    if tweet_list == []:
        users_with_no_tweet_count += 1
        
print(f"Count of users with no tweet: {users_with_no_tweet_count}")

Count of users with no tweet: 147632

## Detect Active Users

### 1- Mean of Tweet Years

In [8]:
def detect_active_by_mean(tweets, year, tweet_types):
    tweets = [tweet for tweet in tweets if tweet["type"] in tweet_types]
    if not tweets:
        return "passive"
    else:
        mean_tweet_years = np.mean([int(tweet["twt_date"][:2]) for tweet in tweets])
        if mean_tweet_years >= year:
            return "active"
        else:
            return "passive"

In [9]:
active_by_mean = pd.DataFrame(columns=["year", "tweet_types", "active", "passive", "active_percentage"])

for tweet_type_list in [["original", "retweet", "reply", "quote", "fav"],
                        ["original", "reply", "quote"],
                        ["original"]]:
    for year in range(6, 23):
        if year < 10:
            print(f"Year: 200{year} | By Mean Year | Tweet Types: {tweet_type_list}", end="...")
        else:
            print(f"Year: 20{year} | By Mean Year | Tweet Types: {tweet_type_list}", end="...")
        
        user_value_counts = pd.DataFrame(df["tweets"].apply(lambda x: detect_active_by_mean(x, year, tweet_type_list)).value_counts()).rename({"tweets":"users"}, axis=1).reset_index()
        active_count = user_value_counts[user_value_counts["index"] == "active"]["users"].values[0]
        passive_count = user_value_counts[user_value_counts["index"] == "passive"]["users"].values[0]
        active_by_mean = active_by_mean.append(pd.DataFrame({"year": year, "tweet_types": [tweet_type_list], "active": active_count, "passive": passive_count, "active_percentage": active_count/user_count*100}), ignore_index=True).reset_index(drop=True)
        
        print("completed!")

Year: 2006 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2007 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2008 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2009 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2010 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2011 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2012 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2013 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2014 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2015 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2016 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2017 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2018 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2019 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2020 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2021 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2022 | By Mean Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2006 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2007 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2008 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2009 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2010 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2011 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2012 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2013 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2014 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2015 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2016 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2017 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2018 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2019 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2020 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2021 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2022 | By Mean Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2006 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2007 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2008 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2009 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2010 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2011 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2012 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2013 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2014 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2015 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2016 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2017 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2018 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2019 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2020 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2021 | By Mean Year | Tweet Types: ['original']...completed!
Year: 2022 | By Mean Year | Tweet Types: ['original']...completed!

In [10]:
active_by_mean["year"] = active_by_mean["year"].apply(lambda x: f"200{x}" if x < 10 else f"20{x}")
active_by_mean["technique"] = "mean"
active_by_mean = active_by_mean[["year", "tweet_types", "technique", "active", "passive", "active_percentage"]]

In [11]:
active_by_mean.to_csv("active_users_by_mean.csv", index=False)

In [12]:
display(active_by_mean)

,year,tweet_types,technique,active,passive,active_percentage
0,2006,"[original, retweet, reply, quote, fav]",mean,452311,147632,75.392329
1,2007,"[original, retweet, reply, quote, fav]",mean,452311,147632,75.392329
2,2008,"[original, retweet, reply, quote, fav]",mean,452311,147632,75.392329
3,2009,"[original, retweet, reply, quote, fav]",mean,452309,147634,75.391996
4,2010,"[original, retweet, reply, quote, fav]",mean,452286,147657,75.388162
5,2011,"[original, retweet, reply, quote, fav]",mean,451809,148134,75.308654
6,2012,"[original, retweet, reply, quote, fav]",mean,446985,152958,74.504578
7,2013,"[original, retweet, reply, quote, fav]",mean,436939,163004,72.830086
8,2014,"[original, retweet, reply, quote, fav]",mean,413981,185962,69.003389
9,2015,"[original, retweet, reply, quote, fav]",mean,385422,214521,64.243103
10,2016,"[original, retweet, reply, quote, fav]",mean,358319,241624,59.725507
11,2017,"[original, retweet, reply, quote, fav]",mean,322693,277250,53.787276
12,2018,"[original, retweet, reply, quote, fav]",mean,280294,319649,46.720105
13,2019,"[original, retweet, reply, quote, fav]",mean,232967,366976,38.831522
14,2020,"[original, retweet, reply, quote, fav]",mean,183345,416598,30.560403
15,2021,"[original, retweet, reply, quote, fav]",mean,114193,485750,19.033975
16,2022,"[original, retweet, reply, quote, fav]",mean,31814,568129,5.302837
17,2006,"[original, reply, quote]",mean,384377,215566,64.068920
18,2007,"[original, reply, quote]",mean,384377,215566,64.068920
19,2008,"[original, reply, quote]",mean,384377,215566,64.068920
20,2009,"[original, reply, quote]",mean,384376,215567,64.068753
21,2010,"[original, reply, quote]",mean,384356,215587,64.065420
22,2011,"[original, reply, quote]",mean,383911,216032,63.991246
23,2012,"[original, reply, quote]",mean,379387,220556,63.237174
24,2013,"[original, reply, quote]",mean,370693,229250,61.788037
25,2014,"[original, reply, quote]",mean,352298,247645,58.721912
26,2015,"[original, reply, quote]",mean,329067,270876,54.849711
27,2016,"[original, reply, quote]",mean,306106,293837,51.022514
28,2017,"[original, reply, quote]",mean,278351,321592,46.396241
29,2018,"[original, reply, quote]",mean,245461,354482,40.914054
30,2019,"[original, reply, quote]",mean,208505,391438,34.754135
31,2020,"[original, reply, quote]",mean,171900,428043,28.652722
32,2021,"[original, reply, quote]",mean,118839,481104,19.808382
33,2022,"[original, reply, quote]",mean,55675,544268,9.280048
34,2006,[original],mean,334019,265924,55.675122
35,2007,[original],mean,334019,265924,55.675122
36,2008,[original],mean,334019,265924,55.675122
37,2009,[original],mean,334018,265925,55.674956
38,2010,[original],mean,333997,265946,55.671455
39,2011,[original],mean,333591,266352,55.603782
40,2012,[original],mean,329378,270565,54.901549
41,2013,[original],mean,321167,278776,53.532919
42,2014,[original],mean,303615,296328,50.607308
43,2015,[original],mean,280991,318952,46.836283
44,2016,[original],mean,258695,341248,43.119930
45,2017,[original],mean,232347,367596,38.728179
46,2018,[original],mean,202975,396968,33.832381
47,2019,[original],mean,171380,428563,28.566047
48,2020,[original],mean,142012,457931,23.670915
49,2021,[original],mean,100476,499467,16.747591
50,2022,[original],mean,50535,549408,8.423300

### 2- At Least one Tweet from a Year

In [13]:
def detect_active_by_at_least_one(tweets, year, tweet_types):
    tweets = [tweet for tweet in tweets if tweet["type"] in tweet_types]
    if not tweets:
        return "passive"
    else:
        tweet_years = [int(tweet["twt_date"][:2]) for tweet in tweets]
        if any([tweet_year >= year for tweet_year in tweet_years]):
            return "active"
        else:
            return "passive"

In [14]:
active_by_at_least_one = pd.DataFrame(columns=["year", "tweet_types", "active", "passive", "active_percentage"])

for tweet_type_list in [["original", "retweet", "reply", "quote", "fav"],
                        ["original", "reply", "quote"],
                        ["original"]]:
    for year in range(6, 23):
        if year < 10:
            print(f"Year: 200{year} | By At Least One | Tweet Types: {tweet_type_list}", end="...")
        else:
            print(f"Year: 20{year} | By At Least One | Tweet Types: {tweet_type_list}", end="...")
        
        user_value_counts = pd.DataFrame(df["tweets"].apply(lambda x: detect_active_by_at_least_one(x, year, tweet_type_list)).value_counts()).rename({"tweets":"users"}, axis=1).reset_index()
        active_count = user_value_counts[user_value_counts["index"] == "active"]["users"].values[0]
        passive_count = user_value_counts[user_value_counts["index"] == "passive"]["users"].values[0]
        active_by_at_least_one = active_by_at_least_one.append(pd.DataFrame({"year": year, "tweet_types": [tweet_type_list], "active": active_count, "passive": passive_count, "active_percentage": active_count/user_count*100}), ignore_index=True).reset_index(drop=True)
        
        print("completed!")

Year: 2006 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2007 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2008 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2009 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2010 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2011 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2012 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2013 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2014 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2015 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2016 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2017 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2018 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2019 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2020 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2021 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2022 | By At Least One | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Year: 2006 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2007 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2008 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2009 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2010 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2011 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2012 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2013 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2014 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2015 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2016 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2017 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2018 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2019 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2020 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2021 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2022 | By At Least One | Tweet Types: ['original', 'reply', 'quote']...completed!
Year: 2006 | By At Least One | Tweet Types: ['original']...completed!
Year: 2007 | By At Least One | Tweet Types: ['original']...completed!
Year: 2008 | By At Least One | Tweet Types: ['original']...completed!
Year: 2009 | By At Least One | Tweet Types: ['original']...completed!
Year: 2010 | By At Least One | Tweet Types: ['original']...completed!
Year: 2011 | By At Least One | Tweet Types: ['original']...completed!
Year: 2012 | By At Least One | Tweet Types: ['original']...completed!
Year: 2013 | By At Least One | Tweet Types: ['original']...completed!
Year: 2014 | By At Least One | Tweet Types: ['original']...completed!
Year: 2015 | By At Least One | Tweet Types: ['original']...completed!
Year: 2016 | By At Least One | Tweet Types: ['original']...completed!
Year: 2017 | By At Least One | Tweet Types: ['original']...completed!
Year: 2018 | By At Least One | Tweet Types: ['original']...completed!
Year: 2019 | By At Least One | Tweet Types: ['original']...completed!
Year: 2020 | By At Least One | Tweet Types: ['original']...completed!
Year: 2021 | By At Least One | Tweet Types: ['original']...completed!
Year: 2022 | By At Least One | Tweet Types: ['original']...completed!

In [15]:
active_by_at_least_one["year"] = active_by_at_least_one["year"].apply(lambda x: f"200{x}" if x < 10 else f"20{x}")
active_by_at_least_one["technique"] = "at_least_one"
active_by_at_least_one = active_by_at_least_one[["year", "tweet_types", "technique", "active", "passive", "active_percentage"]]

In [16]:
active_by_at_least_one.to_csv("active_users_by_at_least_one.csv", index=False)

In [17]:
display(active_by_at_least_one)

,year,tweet_types,technique,active,passive,active_percentage
0,2006,"[original, retweet, reply, quote, fav]",at_least_one,452311,147632,75.392329
1,2007,"[original, retweet, reply, quote, fav]",at_least_one,452311,147632,75.392329
2,2008,"[original, retweet, reply, quote, fav]",at_least_one,452311,147632,75.392329
3,2009,"[original, retweet, reply, quote, fav]",at_least_one,452310,147633,75.392162
4,2010,"[original, retweet, reply, quote, fav]",at_least_one,452296,147647,75.389829
5,2011,"[original, retweet, reply, quote, fav]",at_least_one,451971,147972,75.335657
6,2012,"[original, retweet, reply, quote, fav]",at_least_one,447964,151979,74.667760
7,2013,"[original, retweet, reply, quote, fav]",at_least_one,440280,159663,73.386972
8,2014,"[original, retweet, reply, quote, fav]",at_least_one,423600,176343,70.606708
9,2015,"[original, retweet, reply, quote, fav]",at_least_one,401252,198691,66.881687
10,2016,"[original, retweet, reply, quote, fav]",at_least_one,377127,222816,62.860472
11,2017,"[original, retweet, reply, quote, fav]",at_least_one,346608,253335,57.773488
12,2018,"[original, retweet, reply, quote, fav]",at_least_one,308506,291437,51.422552
13,2019,"[original, retweet, reply, quote, fav]",at_least_one,264616,335327,44.106857
14,2020,"[original, retweet, reply, quote, fav]",at_least_one,223190,376753,37.201868
15,2021,"[original, retweet, reply, quote, fav]",at_least_one,174772,425171,29.131434
16,2022,"[original, retweet, reply, quote, fav]",at_least_one,121705,478238,20.286094
17,2006,"[original, reply, quote]",at_least_one,384377,215566,64.068920
18,2007,"[original, reply, quote]",at_least_one,384377,215566,64.068920
19,2008,"[original, reply, quote]",at_least_one,384377,215566,64.068920
20,2009,"[original, reply, quote]",at_least_one,384376,215567,64.068753
21,2010,"[original, reply, quote]",at_least_one,384363,215580,64.066586
22,2011,"[original, reply, quote]",at_least_one,384039,215904,64.012581
23,2012,"[original, reply, quote]",at_least_one,380108,219835,63.357352
24,2013,"[original, reply, quote]",at_least_one,372594,227349,62.104900
25,2014,"[original, reply, quote]",at_least_one,356212,243731,59.374307
26,2015,"[original, reply, quote]",at_least_one,334716,265227,55.791300
27,2016,"[original, reply, quote]",at_least_one,312555,287388,52.097449
28,2017,"[original, reply, quote]",at_least_one,286250,313693,47.712866
29,2018,"[original, reply, quote]",at_least_one,254608,345335,42.438698
30,2019,"[original, reply, quote]",at_least_one,219530,380413,36.591810
31,2020,"[original, reply, quote]",at_least_one,186190,413753,31.034615
32,2021,"[original, reply, quote]",at_least_one,142462,457481,23.745923
33,2022,"[original, reply, quote]",at_least_one,88333,511610,14.723565
34,2006,[original],at_least_one,334019,265924,55.675122
35,2007,[original],at_least_one,334019,265924,55.675122
36,2008,[original],at_least_one,334019,265924,55.675122
37,2009,[original],at_least_one,334018,265925,55.674956
38,2010,[original],at_least_one,334002,265941,55.672289
39,2011,[original],at_least_one,333689,266254,55.620117
40,2012,[original],at_least_one,329964,269979,54.999225
41,2013,[original],at_least_one,322762,277181,53.798778
42,2014,[original],at_least_one,306916,293027,51.157527
43,2015,[original],at_least_one,285931,314012,47.659694
44,2016,[original],at_least_one,264185,335758,44.035017
45,2017,[original],at_least_one,238650,361293,39.778779
46,2018,[original],at_least_one,209038,390905,34.842977
47,2019,[original],at_least_one,178149,421794,29.694321
48,2020,[original],at_least_one,150021,449922,25.005876
49,2021,[original],at_least_one,113121,486822,18.855291
50,2022,[original],at_least_one,68577,531366,11.430586

### 3- Last N Years

In [18]:
def convert_date(date):
    return date.split("-")[0][2:] + date.split("-")[1] + date.split("-")[2]

In [19]:
def detect_active_by_last_n_years(tweets, n, tweet_types):
    # Filter by tweets
    tweets = [tweet for tweet in tweets if tweet["type"] in tweet_types]
    # Determine threshold by last n years
    now = convert_date(str(datetime.now()).split()[0])
    n = n
    threshold = int(str(int(now[:2]) - n) + now[2:])
    
    if not tweets:
        return "passive"
    else:
        tweet_dates = [int(tweet["twt_date"]) for tweet in tweets]
        if any([tweet_date >= threshold for tweet_date in tweet_dates]):
            return "active"
        else:
            return "passive"

In [20]:
active_by_last_n_years = pd.DataFrame(columns=["last_n_years", "threshold", "tweet_types", "active", "passive", "active_percentage"])
now = convert_date(str(datetime.now()).split()[0])

for tweet_type_list in [["original", "retweet", "reply", "quote", "fav"],
                        ["original", "reply", "quote"],
                        ["original"]]:
    for year in range(1, 17):
        print(f"Last {year} year(s) | By Last N Year | Tweet Types: {tweet_type_list}", end="...")
        
        user_value_counts = pd.DataFrame(df["tweets"].apply(lambda x: detect_active_by_last_n_years(x, year, tweet_type_list)).value_counts()).rename({"tweets":"users"}, axis=1).reset_index()
        active_count = user_value_counts[user_value_counts["index"] == "active"]["users"].values[0]
        passive_count = user_value_counts[user_value_counts["index"] == "passive"]["users"].values[0]
        threshold = str(int(now[:2]) - year) + now[2:]
        if len(threshold) <= 5:
            threshold = "0" + threshold
        
        active_by_last_n_years = active_by_last_n_years.append(pd.DataFrame({"last_n_years": year,
                                                                             "threshold": str(pd.to_datetime(threshold, yearfirst=True)).split()[0],
                                                                             "tweet_types": [tweet_type_list],
                                                                             "active": active_count,
                                                                             "passive": passive_count,
                                                                             "active_percentage": active_count/user_count*100}),
                                                               ignore_index=True).reset_index(drop=True)
        
        print("completed!")

Last 1 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 2 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 3 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 4 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 5 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 6 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 7 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 8 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 9 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 10 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 11 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 12 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 13 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 14 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 15 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 16 year(s) | By Last N Year | Tweet Types: ['original', 'retweet', 'reply', 'quote', 'fav']...completed!
Last 1 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 2 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 3 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 4 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 5 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 6 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 7 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 8 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 9 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 10 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 11 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 12 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 13 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 14 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 15 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 16 year(s) | By Last N Year | Tweet Types: ['original', 'reply', 'quote']...completed!
Last 1 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 2 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 3 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 4 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 5 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 6 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 7 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 8 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 9 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 10 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 11 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 12 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 13 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 14 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 15 year(s) | By Last N Year | Tweet Types: ['original']...completed!
Last 16 year(s) | By Last N Year | Tweet Types: ['original']...completed!

In [21]:
display(active_by_last_n_years)

,last_n_years,threshold,tweet_types,active,passive,active_percentage
0,1,2021-06-24,"[original, retweet, reply, quote, fav]",148511,451432,24.754185
1,2,2020-06-24,"[original, retweet, reply, quote, fav]",197604,402339,32.937129
2,3,2019-06-24,"[original, retweet, reply, quote, fav]",245162,354781,40.864215
3,4,2018-06-24,"[original, retweet, reply, quote, fav]",286224,313719,47.708532
4,5,2017-06-24,"[original, retweet, reply, quote, fav]",328490,271453,54.753535
5,6,2016-06-24,"[original, retweet, reply, quote, fav]",364831,235112,60.810944
6,7,2015-06-24,"[original, retweet, reply, quote, fav]",389275,210668,64.885331
7,8,2014-06-24,"[original, retweet, reply, quote, fav]",413215,186728,68.875710
8,9,2013-06-24,"[original, retweet, reply, quote, fav]",434062,165881,72.350540
9,10,2012-06-24,"[original, retweet, reply, quote, fav]",444997,154946,74.173213
10,11,2011-06-24,"[original, retweet, reply, quote, fav]",451136,148807,75.196477
11,12,2010-06-24,"[original, retweet, reply, quote, fav]",452244,147699,75.381161
12,13,2009-06-24,"[original, retweet, reply, quote, fav]",452306,147637,75.391496
13,14,2008-06-24,"[original, retweet, reply, quote, fav]",452310,147633,75.392162
14,15,2007-06-24,"[original, retweet, reply, quote, fav]",452311,147632,75.392329
15,16,2006-06-24,"[original, retweet, reply, quote, fav]",452311,147632,75.392329
16,1,2021-06-24,"[original, reply, quote]",116010,483933,19.336837
17,2,2020-06-24,"[original, reply, quote]",163691,436252,27.284425
18,3,2019-06-24,"[original, reply, quote]",203921,396022,33.990062
19,4,2018-06-24,"[original, reply, quote]",236563,363380,39.430913
20,5,2017-06-24,"[original, reply, quote]",271057,328886,45.180459
21,6,2016-06-24,"[original, reply, quote]",301533,298410,50.260275
22,7,2015-06-24,"[original, reply, quote]",323669,276274,53.949959
23,8,2014-06-24,"[original, reply, quote]",346153,253790,57.697648
24,9,2013-06-24,"[original, reply, quote]",366503,233440,61.089637
25,10,2012-06-24,"[original, reply, quote]",377223,222720,62.876473
26,11,2011-06-24,"[original, reply, quote]",383220,216723,63.876068
27,12,2010-06-24,"[original, reply, quote]",384312,215631,64.058086
28,13,2009-06-24,"[original, reply, quote]",384373,215570,64.068253
29,14,2008-06-24,"[original, reply, quote]",384376,215567,64.068753
30,15,2007-06-24,"[original, reply, quote]",384377,215566,64.068920
31,16,2006-06-24,"[original, reply, quote]",384377,215566,64.068920
32,1,2021-06-24,[original],90792,509151,15.133438
33,2,2020-06-24,[original],131072,468871,21.847409
34,3,2019-06-24,[original],164798,435145,27.468943
35,4,2018-06-24,[original],192824,407119,32.140387
36,5,2017-06-24,[original],223987,375956,37.334713
37,6,2016-06-24,[original],253390,346553,42.235679
38,7,2015-06-24,[original],275059,324884,45.847522
39,8,2014-06-24,[original],297146,302797,49.529039
40,9,2013-06-24,[original],316928,283015,52.826352
41,10,2012-06-24,[original],327228,272715,54.543182
42,11,2011-06-24,[original],332902,267041,55.488938
43,12,2010-06-24,[original],333951,265992,55.663788
44,13,2009-06-24,[original],334014,265929,55.674289
45,14,2008-06-24,[original],334018,265925,55.674956
46,15,2007-06-24,[original],334019,265924,55.675122
47,16,2006-06-24,[original],334019,265924,55.675122

In [22]:
active_by_last_n_years["technique"] = "last_n_years"
active_by_last_n_years = active_by_last_n_years[["last_n_years", "tweet_types", "technique", "active", "passive", "active_percentage"]]

In [23]:
active_by_last_n_years.to_csv("active_users_by_last_n_years.csv", index=False)